{{ with resources.Get "js/search-keybind.js"| minify | fingerprint }}
<script
  src="{{ .RelPermalink }}"
  integrity="{{ .Data.Integrity }}"
  crossorigin="anonymous">
</script>
{{ end }}

{{ with resources.Get "js/cookie-banner.js"| minify | fingerprint }}
<script
  src="{{ .RelPermalink }}"
  integrity="{{ .Data.Integrity }}"
  crossorigin="anonymous">
</script>
{{ end }}

{{ partial "cookie-banner.html" . }}

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: true,
        theme: "base",
        themeCSS: `
          /* Left-align text in class diagrams */
          .nodeLabel {
            text-wrap: nowrap;
          }
        `,
        flowchart: {
            nodeSpacing: 20,
            rankSpacing: 100,
        },
        themeVariables: {
            fontFamily: 'var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace)',
            fontSize: "1.5em",

            background: "#1e1e1e",
            textColor: "#f8fafc",
            primaryColor: "#0ea5e9",
            primaryTextColor: "#f8fafc",
            lineColor: "#94a3b8",
            noteBkgColor: "#2c3a4a",

            /** Flowchart **/

            nodeBorder: "#38bdf8",
            clusterBkg: "#2c3a4a",
            clusterBorder: "#4b5563",

            /** Git Graph **/

            tagLabelFontSize: ".6em",
            commitLabelFontSize: ".6em",

            commitLabelColor: "#f8fafc",
            commitLabelBackground: "#2c3a4a",

            git0: "#0ea5e9",
            git1: "#4b5563",
        }
    });
</script>
